.post-item {
    background-color: white;
    border-bottom: 2px solid grey;
    padding: 5px 50px;
}

.inner-container {
    background-color: white;
    padding: 10px 50px;
}

.active-like {
    background-color: green;
}

.active-dislike {
    background-color: red;
}

